table
  thead
    tr
      th Book
      th Patron 
      th Loaned on
      th Return by 
      th Returned on
      th Action
  tbody
    if(loans)
      each loan in loans
        tr
          td
            a(href=`/details/books/${loan.book_id}`) #{loan.book.title}
          td
            a(href=`/details/patrons/${loan.patron_id}`) #{loan.patron.first_name} #{loan.patron.last_name}
          td #{loan.loaned_on}
          td #{loan.return_by}
          td #{loan.returned_on}
          if(!loan.returned_on)
            td
              a.button(href=`/details/loans/${loan.id}`) Return Book